<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <h1>URL Shortner</h1>
   <div>
        <form action="/url" method="post">
            <label>
                Enter Your Original URL
            </label>
            <input type="text" name ="redirectURL" placeholder="Https://example.com">
            <button type="submit">Generate</button>
        </form>
   </div>
</body>
</html>
